@import '_variables.less';

.full-calendar {
  background-color: @white;
  margin-bottom: 30px;

  .calendar-row {
    border-bottom: 1px solid @gray-7;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &:last-child {
      /*border-width: 0;*/
    }

    &.calendar-heading {
      .calendar-col {
        border-width: 0;
        background-color: @green-9;
        min-height: auto;
        padding: 0;
        color: @white;
      }
    }

    .calendar-col {
      background-color: @white;
      text-align: center;
      width: 14.28%;
      color: @black;
      font-size: 13px;
      border-right: 1px solid @gray-7;
      min-height: 85px;
      padding-top: 5px;
      position: relative;

      &:last-child {
        border-width: 0;
      }

      > a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        &.disabled {
          color: @gray-7;

          > .price {
            display: none;
          }
        }

        > .date {
          width: 100%;
          text-align: center;
          font-size: 13px;

          &.disabled {
            color: @gray-7;
          }

          &.enable {
            color: @black;
            font-weight: 600
          }
        }

        > .price {
          font-size: 13px;
          position: absolute;
          bottom: 0;
          width: 100%;
          display: block;
          color: @green-2;
          font-weight: 700;

          &.lowest {
            background-color: @red-2;
            color: @white;
            font-weight: 400;
          }
        }
      }
    }
  }
}