<smart-app-banner></smart-app-banner>

<div class="home home-mobile m-b-60">
  <app-account-header></app-account-header>

  <div class="wrapper wrapper-mobile bg-white">

    <!-- categories -->
    <home-category></home-category>

    <!-- banner -->
    <home-banner></home-banner>

    <!-- tour trọn gói -->
    <home-all-in-one-tour></home-all-in-one-tour>

    <!-- tour tự túc -->
    <home-free-tour></home-free-tour>

    <!-- cảm hứng du lịch -->
    <home-discover></home-discover>

    <!-- hướng dẫn -->
    <home-more-question></home-more-question>

  </div>
</div>

<app-footer-mobile></app-footer-mobile>
