@import '_variables.less';

.modal.date-selector-popup {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {

        }
      }

      .modal-body {
        background-color: @white;
        padding: 0px !important;

      }

      .modal-footer {
        padding: 8px;
        background-color: @white;
      }
    }
  }
}

