@import '_variables.less';
.atm-popup {
    
    .modal-footer {
        border-top: 0;
        button {
            background: @orange-2;
            color: @white;
        }
    }
    .modal-header {
        display: block;
    }
    .list-atm {
        .list-atm-item {
            padding: 10px;
        }
        .item-name {
            padding-top: 7px;
            font-size: 16px;
            color: @black;
        }
    }
}