.popup-social-sharing {
  .modal-body {
    padding: none;
  }
  .sb-style button {
    font-size: 20px;
    padding: 5px;
    width: 40px;
    height: 40px;
  }
  .sb-style .sb-button {
    min-width: 50px;
  }
}