.room-passenger-input-wp{
    min-width: 350px;
    .list-rooms{
        padding:0px 15px;
        .list-room-item{
            padding: 15px 0px;
            li{
                padding: 10px 10px 0px 10px;
            }
        }
    }
    .border-b {
        border-top: 1px solid #e0e0e0;
    }
    .button-more {
        margin: 30px;
    }
}