<!--component html goes here -->
<div class="hotel-room-remaining animated zoomIn">
  <div class="row m-l-none m-r-none">
    <div class="col-12 b-r-5 shadow bg-white m-t-5">
      <div class="row bor-top">
        <div class="col-12 p-15 text-black">
          <div class="row">
              <div class="col-2 p-l-none p-r-none text-right"><img class="m-b-0" cdn-src="assets/images/hotel/desktop/remaining.svg" alt="img" /></div>
              <div class="col-10 p-t-4 p-l-none p-r-none">Chú ý chỉ còn {{room.allotment}} phòng có giá này ở Xtrip!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
