@import "_variables.less";

.modal.popup-gallery {

  .modal-dialog {

    .modal-content {

      background-color: @black;
      color: @white;

      .modal-header {
        position: relative;

        .modal-title {
          font-size: 20px;
        }
      }

      .modal-body {
        padding: 15px 0;
      }
      .ngx-gallery-thumbnails-wrapper .ngx-gallery-active {
        border: 2px solid @orange-2;
      }
    }
  }
}