@import "_variables.less";
.guideline {
    .step {
        @media (max-width: 767px) {
            font-size: 15px;
        }
        margin: 15px 0;
        font-size: 18px;
        .intro {
            @media (min-width: 768px) {
                margin-top: 22%;
            }
            margin-top: 10px;
            .title {
                @media (max-width: 767px) {
                    font-size: 18px;
                }
                color: @green-2;
            }
            .content {
                color: @black;
            }
        }
        .image {
            text-align: center;
            position: relative;
            img {
                max-width: 100%;
            }
            >.hint {
                position: absolute;
                animation-delay: 1s;
            }
        }
    }
    .plane-ticket-guide {
        .hint-1 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                left: -25px;
                top: 70px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                top: 95px;
                left: 0;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                top: 37%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                top: 37%;
                left: 0;
            }
            top: 107px;
            left: 0;
        }
        .hint-3 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                left: -25px;
                bottom: 134px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                left: -14px;
                bottom: 113px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                left: 0;
            }
            bottom: 70px;
            left: 5px;
        }
        .hint-4 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 45%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -14px;
                bottom: 111px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                right: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                right: 0;
            }
            bottom: 97px;
            right: 5px;
        }
        .hint-5 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 32%;
                left: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                left: -14px;
                bottom: 62px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 15%;
                left: 5px;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 15%;
                left: 5px;
            }
            bottom: 53px;
            left: 5px;
        }
    }
    .hotel-guide {
        .hint-1 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                left: -25px;
                top: 58px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                top: 79px;
                left: -12px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                top: 32%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                top: 32%;
                left: 0;
            }
            top: 90px;
            left: -16px;
        }
        .hint-2 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 40%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -14px;
                bottom: 111px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                right: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                right: 0;
            }
            bottom: 74px;
            right: -27px;
        }
        .hint-3 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 40%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -14px;
                bottom: 83px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                right: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                right: 0;
            }
            bottom: 73px;
            right: -18px;
        }
        .hint-4 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 26%;
                left: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                left: -20px;
                bottom: 45px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                left: 0;
            }
            bottom: 49px;
            left: -21px;
        }
        .hint-5 {
            @media (min-width: 1280px) {
                left: 50px;
            }
            bottom: 70px;
            left: 5px;
        }
    }
    .tour-guide {
        .hint-1 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                left: -25px;
                top: 70px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                top: 95px;
                left: 0;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                top: 37%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                top: 37%;
                left: 0;
            }
            top: 107px;
            left: 0;
        }
        .hint-2 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 45%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -14px;
                bottom: 111px;
            }
            right: 10px;
            bottom: 71px;
        }
        .hint-3 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 45%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -14px;
                bottom: 111px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                right: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                right: 0;
            }
            bottom: 74px;
            right: -27px;
        }
        .hint-4 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 40%;
                right: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                right: -29px;
                bottom: 80px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                right: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                right: 0;
            }
            bottom: 49px;
            right: -21px;
        }
        .hint-5 {
            @media only screen and (min-width: 960px) and (max-width: 1240px) {
                bottom: 35%;
                left: -36px;
            }
            @media only screen and (min-width: 768px) and (max-width: 959px) {
                left: -20px;
                bottom: 71px;
            }
            @media only screen and (min-width: 480px) and (max-width: 767px) {
                bottom: 16%;
                left: 0;
            }
            @media only screen and (min-width: 100px) and (max-width: 479px) {
                bottom: 16%;
                left: 0;
            }
            bottom: 69px;
            left: -21px;
        }
    }
}