.btn-googleplus {
    background: #E93F2E;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #b72213;
}
.btvisible
{
    background-color: #F26522 !important;
    color: white !important;
    width: 100% !important;
    height: 40px;
}
.btinvisible
{
    background-color: #bdbdbd !important;
    color: white !important;
    width: 100% !important;
    height: 40px;
    opacity: .65;
}

.padd-arr {
    padding: 10px 25px;
}


.custompopup .mat-input-element {
    color:white
}
.custompopup .mat-input-infix {
    color:white
}
.custompopup .mat-input-placeholder.mat-float.mat-focused, .mat-input-placeholder.mat-float:not(.mat-empty) {
    color:white;
}

.custompopup .mat-input-underline {
    margin-top: 10px;
}

.custompopup .dx-button {
    border-style: none;
    border-radius: 0px;
}