.booking-ticket-flight-preview {

  .price-detail {
    background-color: @white;
    padding: 15px;
    font-size: 15px;

    .title {
      color: @green-2;
    }

    hr {
      margin: 10px 0;
    }
  }

  // hack
  .tabs__panel {
    padding: 0 !important;
    margin-top: 3px !important;

    a {
      color: @orange-2;
      text-decoration: underline;
    }
  }
}