.mat-tab-group {
  .mat-tab-labels {
    background: @white;
    margin-top: 4px;
    .mat-tab-label {
      height: 44px;
      //width: calc(~'100% / 3');
      color: @gray-7;
      font-size: 15px;
      opacity: 1;
      font-weight: 400;
      &.mat-tab-label-active {
        color: @green-2;
        font-weight: 700;
        border-bottom: 3px solid @green-2;
      }
    }
  }
  .mat-ink-bar {
    background-color: @green-2 !important;
    height: 3px;
  }
  .term-policy-wp {
    margin-top: 4px;
    padding: 20px 0px;
    .term-policy {
      height: 140px;
      overflow: hidden;
    }
  }
}