.slot-booking {
  margin-bottom: 60px;

  .tab-container {
    .nav.nav-justified {
      background-color: @green-2;

      > .nav-item {
        > .nav-link {
          color: @gray-11;
          font-size: 15px;
          padding: 10px;
        }
        &.active {
          > .nav-link {
            color: @white;
          }
        }

      }
    }

  }

  .container-booked-empty-screen {
    padding: 40px 15px;
    display: block;
    overflow: hidden;
    min-height: 550px;

    .container-data-empty-screen {
      padding: 0px;

      .img {
        img {
          max-width: 200px;
        }
      }

      .title {
        margin-top: 10px;
        font-size: 18px;
      }
      .description {
        margin-top: 10px;
        font-size: 15px;
      }

      .btn.btn-retry {
        background-color: @orange-2;
        color: @white;
      }
    }
  }
}

.booking-detail-item {
  background-color: @white;
  margin-bottom: 10px;

  .booking-img {
    height: 120px;
    position: relative;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
      transform: translate(-50%, -50%);
      position: relative;
      top: 50%;
      left: 50%;
      margin: 0;
    }
  }
  .booking-info {
    padding: 10px;

    .booking-name {
      font-size: 15px;
      font-weight: 700;
    }

    .booking-status {
      > .success-color {
        color: @green-3;
      }
      > .error-color {
        color: @red;
      }
      > .pending-color {
        color: @orange-2;
      }

      > .success {
        color: @green-3;
      }
      > .not-paid {
        color: @red;
      }
      > .pending {
        color: @orange-1;
      }
    }

    .booking-description {
      border-top: 1px solid @gray-7;
      padding-top: 10px;
      margin-top: 10px;

      .col-4 {
        padding-right: 0;
      }

      .hotel-icon {
        padding: 0;
      }

      .booking-time, .booking-duration, .booking-passenger, .booking-time, .booking-supplier, .checkinn, .checkout {
        .info-label {
          color: @gray-1;
        }
        .info-desc {
          color: @gray-1;
        }
      }
    }

  }
}
