<div class="setting-page">
  <app-header [back]="true" [heading]="'Cài đặt thông báo'" [fixed]="true"></app-header>

  <div class="wrapper" min-height>
    cài đặt thông báo
  </div>
</div>

<!--
<div class="custompopup" style="padding:20px;background-color: #F6F7FB;">
    <div class="row header-popup">
        <i (click)="clickBackPopupVisibleNotifSet()"  class="fa fa-arrow-left fa-1.5x col-1 navigate-icon" aria-hidden="true" 
        style="color: white;margin-top: 10px;"></i>
        <span style="margin-top: 5px;margin-left: 5px" 
         class="col-10 spanheaderpopup fonttitle" >Cài đặt thông báo</span>
 </div>
    
  <div style="padding-top: 10px"></div>
  <div class="w3-card w3-padding w3-border-radius">
    <div class="row">
      <div class="col-8 font-stl" style="font-size: 13px;color: #000000;padding-top: 10px">Vé máy bay giá rẻ</div>
      <div class="col-4" style="font-size: 13px">
        
          <switch
          [status]="notifycationsetting.cheapTickets"
          [onText]="onText"
          [offText]="offText"
          [onColor]="onColor"
          [offColor]="offColor"
          [size]="size"
          (statusChange)="onFlagChange($event,'cheapTickets')"
          >
      </switch>
      </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px">
    <div class="row">
      <div class="col-8 font-stl" style="font-size: 13px;color: #000000 ;padding-top: 10px">Tin nhắn từ hỗ trợ viên</div>
      <div class="col-4">
       
        <switch
        [status]="notifycationsetting.supportMessage"
        [onText]="onText"
        [offText]="offText"
        [onColor]="onColor"
        [offColor]="offColor"
        [size]="size"
        (statusChange)="onFlagChange($event,'supportMessage')"
        >
    </switch>
      </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px">
    <div class="row">
      <div class="col-8 font-stl" style="font-size: 13px;color: #000000;padding-top: 10px">Tình trạng đặt chỗ</div>
      <div class="col-4">
        
          <switch
          [status]="notifycationsetting.bookingStatus"
          [onText]="onText"
          [offText]="offText"
          [onColor]="onColor"
          [offColor]="offColor"
          [size]="size"
          (statusChange)="onFlagChange($event,'bookingStatus')"
          >
      </switch>
      </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px">
    <div class="row">
      <div class="col-8 font-stl" style="font-size: 13px; color: #000000;;padding-top: 10px">Tin khuyến mãi</div>
      <div class="col-4">
          <switch
          [status]="notifycationsetting.promotionInformation"
          [onText]="onText"
          [offText]="offText"
          [onColor]="onColor"
          [offColor]="offColor"
          [size]="size"
          (statusChange)="onFlagChange($event,'promotionInformation')"
          >
      </switch>
      </div>
    </div>
    <hr style="margin-top: 10px;margin-bottom: 10px">
    <div class="row">
      <div class="col-8 font-stl" style="font-size: 13px;color: #000000 ;;padding-top: 10px">Thông báo thay đổi, nhắc chuyến bay</div>
      <div class="col-4">
          <switch
          [status]="notifycationsetting.noticeChange"
          [onText]="onText"
          [offText]="offText"
          [onColor]="onColor"
          [offColor]="offColor"
          [size]="size"
          (statusChange)="onFlagChange($event,'noticeChange')"
          >
      </switch>
      </div>
    </div>
  </div>
  <div id="messagenotify" style="display: none;position: absolute;bottom: 0px;right: 0px;z-index: 2000;width: 100%;
  background-color: #5cb85c;color: white;height: 40px;padding-left: 20px;padding-top: 10px;margin-left: 0px;margin-right: 0px " class="row">
      <div class="col-10" style="font-size: 13px;font-weight: normal">
          Bạn đã  cập nhật thành công
      </div>  
    
      <div class="col-2;text-right"  > <i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
        

</div>-->
