@import "_variables.less";
@import "_mixins.less";

.booked-hotel {

  &.booked-hotel-mobile {
    padding: 15px;

    ul {
      > li {
        margin-top: 15px;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  &.booked-hotel-desktop{

  }
}