@import "_variables.less";
.modal.hotel-mapview-popup {
  .modal-dialog {
    .modal-content {
      .modal-body {
        padding: 0;
        overflow-y: hidden !important;
      }
    }
  }
  .pos-back {
    left: 20px;
    top: 20px;
    color: @white;
  }
  .bg-back {
    background-color: @green-2;
    padding: 4px 8px;
  }
}