@import '_variables.less';
@import './_mixins.less';

.payment-result.payment-result-mobile {

  //height: 100vh;
  min-height: 100vh;
  background-color: @white;
  padding: 15px;
  color: @gray-2;

  .text-danger {
    color: @red-3 !important;
  }
  p {
    text-align: center !important;
  }
  .payment-footer {
    background: @white;
    padding: 10px;
    z-index: 1000;
  }

  p {
    text-align: center !important;
  }

  ul {
    list-style-type: disc;
    margin-top: 15px;
  }
}
