// component css goes here
@import "_variables.less";

.tour-tag-filter-page {
  .tag-filter-area {
    background-color: @gray-48;
    color: @gray-2;
    font-size: 13px;
    padding: 15px 27px 10px;
    .clear-filter-text {
      margin-top: 3px;
      font-size: 14px;
      margin-left: 10px;
      color: @gray-1;
    }
    .clear-filter-item-area {
      .clear-filter-item {
        padding: 6px 6px 6px 8px;
        background-color: @white;
        border-radius: 50px;
        font-size: 12px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}