// ***********Style for Booked Flight -> page detail***********
.my-booking-flight,
.preview-booking {
  .gray-cl {
    color: @gray-1;
  }
  .pos-icon {
    top: 15px;
    left: 15px;
  }
  .arrow {
    margin-bottom: 0px !important;
    padding: 0 5px;
  }
  .tabs {
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    color: @white;
    font-size: 15px; // padding-bottom: 8px;
  }
  .unactive-tab {
    opacity: .5;
  }
  .under-line-tab {
    border-bottom: 2px solid @orange-2;
  }
  .countdown {
    font-size: 25px;
    color: @green-2;
    font-weight: 700;
    margin: 0px;
  }
  a:hover {
    color: #000000;
  }
  .m-l-n-10 {
    margin-left: -10px;
  }
  .pnr-code {
    color: @green-2;
  }
  .pad-height {
    height: 10px;
  }
  .title-countdown {
    color: @gray-9;
  }
  .title-main {
    color: @gray-5;
  }
  .bottom-border {
    border-bottom: 1px solid @gray-8;
  }
  .success-color {
    color: @green-3;
  }
  .error-color {
    color: @red;
  }
  .pending-color {
    color: @orange-1;
  }
  .line-distance-area {
    padding: 10px 10px;
    background-color: @white;
  }
  .title-large {
    color: @gray-1;
    font-weight: 500;
  }
  .ds-flex {
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
  }
  .strike-through {
    display: table;
    width: 80%;
  }
  .strike-through div {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: @gray-1;
    display: table-cell;
    padding: 0px 10px 0px 0px;
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .strike-through::after,
  .strike-through::before {
    content: "";
    display: block;
    position: relative;
    top: 10px;
    width: 90%;
    border-top: 1px solid @gray-9;
  }
  .line-time {
    height: 1px;
    background-color: @gray-18;
  }
  .stop-step {
    background-color: @green-10;
    height: 32px;
    padding: 5px;
    color: @black;
  }
  .pad-10 {
    padding: 10px;
  }
  .price-title-sum {
    font-size: 18px;
    font-weight: 500;
  }
  .color-price {
    color: @orange-2;
  }
  .pad-6 {
    padding: 6px;
  }
  .border-line-passenger {
    border-bottom: 10px solid @gray-6;
    margin: -10px;
  }
  // Transfer information CSS
  .transfer-stl {
    .title {
      background-color: @white;
      padding: 20px 10px;
      font-size: 15px;
    }
    .title-color-tf {
      color: @green-2;
      font-weight: 500;
    }
    .title-sub-tf {
      font-size: 13px;
      padding-top: 10px;
      color: @gray-1;
    }
    .line-height {
      height: 5px;
    }
  }
  .price-detail-summary {
    padding: 10px;
    background-color: @white;
    .title {
      color: @green-2;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .bg-header-title {
    background-color: @gray-6;
    padding: 4px 10px;
    margin: -10px;
  }

  .distance-style {
    padding: 10px 8px 0px 8px;
  }
}

.qr-code-popup-stl {
  &.area-bg {
    background-color: @green-2;
    height: 100vh;
  }
  .dx-popup-content {
    background-color: @green-2;
  }
  .dx-template-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pad-20 {
    padding: 20px;
  }
  .title-qr {
    padding-top: 15px;
    padding-left: 20vw;
    font-size: 18px;
    color: @white;
  }
  .flex {
    display: flex;
  }
  .sub-title-qr {
    text-transform: uppercase;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    color: @white;
  }
  .sub-title-small {
    color: @white;
    font-size: 15px;
    padding: 10px;
  }
  .mg-15 {
    margin-top: -15px;
  }
  .stl-arrow {
    margin: 0px;
    padding: 20px;
  }
  .p-t-25vh {
    padding-top: 25vh;
  }
}