.flight-heading {
  .sub-heading {
    color: @white;
    opacity: .7;
  }
  .notify-text {
    color: @gray-22;
    //background-color: @gray-21;
    background-color: @white;
    padding-bottom: 3px;
  }
}