<div bsModal
     #popup="bs-modal"
     class="modal fade video-popup"
     role="dialog"
     (onHidden)="hide()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!--<youtube-player height="100%"
                        width="100%"
                        [videoId]="videoId"
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)"
                        [playerVars]="playerVars"></youtube-player>-->
      </div>
    </div>
  </div>
</div>
