<div class="block block-hotel {{ class }}" *ngIf="!!hotels.length">

  <!-- desktop -->
  <div class="free-tour--hotel-desktop" *ngIf="isDesktop">
    <div class="row">
      <div class="container-fluid">
        <div class=" d-flex justify-content-between align-items-center">
          <h4 class="block-title m-b-none">{{ heading }}</h4>
          <a class="pointer text-green font-medium"
             (click)="onLoadMore()"
             [routerLink]="['/hotel/result']"
             [queryParams]="generateQueryParams()">
            <span class="d-none d-lg-block">Xem thêm</span>
            <span class="d-lg-none">
              <img class="size-16x16 scale-one-half"
                   cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
            </span>
          </a>
        </div>
        <div class="block-body m-t-10">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-6"
                 [class.m-t-20]="i/itemsPerRow >= 1"
                 [class.p-l-10]="i%itemsPerRow > 0"
                 [class.p-r-10]="i%itemsPerRow < itemsPerRow - 1"
                 *ngFor="let hotel of hotels; trackBy: trackByFn; let i = index">
              <home-hotel-item [hotel]="hotel" [queryParams]="generateQueryParams(hotel)"></home-hotel-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile -->
  <div class="free-tour--hotel-mobile" *ngIf="isMobile">
    <div class="row">
      <div class="container-fluid">
        <div class="block-title m-none">
          <a class="pointer d-flex justify-content-center align-items-center"
             (click)="onLoadMore()"
             [routerLink]="['/hotel/result']"
             [queryParams]="generateQueryParams()">
            <h4 class="m-none">{{ heading }}</h4>
            <img class="size-16x16 scale-one-half ml-auto"
                 cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
          </a>
        </div>
        <div class="block-description">
          {{ description }}
        </div>
        <div class="block-body m-t-10">
          <div class="row">
            <div class="col-12 hotel-item hotel-first-item">
              <a class="pointer"
                 [title]="hotels[0].name"
                 [routerLink]="['/hotel', hotels[0].code, 'detail']"
                 [queryParams]="generateQueryParams(hotels[0])">
                <div class="hotel-image">
                  <img class="img-fix"
                       defaultImage="assets/images/no-thumbnail.png"
                       [lazyLoad]="hotels[0].photo.src | size:400"
                       [offset]="80"
                       [alt]="hotels[0].name"
                       [title]="hotels[0].name"
                       onerror="this.src='assets/images/no-thumbnail.png'"/>
                  <div class="hotel-info d-flex flex-column">
                    <div class="hotel-name text-truncate-2lines">
                      {{ hotels[0].name }}
                      <hotel-star [stars]="hotels[0].stars" version="2"></hotel-star>
                    </div>
                    <div class="hotel-location text-truncate">
                      <img class="size-14x14 m-t-n-3"
                           cdn-src="assets/images/icon/icon-location-white.svg" alt="location"/>
                      {{ hotels[0].address }}
                    </div>
                  </div>
                  <div class="hotel-price">
                    Giá từ
                    <div class="font-15 font-bold">{{ hotels[0].price | priceText }}</div>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-6 hotel-item m-t-10"
                 [class.p-r-5]="i % 2 === 0"
                 [class.p-l-5]="i % 2 !== 0"
                 *ngFor="let hotel of hotels | slice:1:hotels.length; trackBy: trackByFn; let i = index">
              <a class="pointer"
                 [title]="hotel.name"
                 [routerLink]="['/hotel', hotel.code, 'detail']"
                 [queryParams]="generateQueryParams(hotel)">
                <div class="hotel-image">
                  <img class="img-fix"
                       defaultImage="assets/images/no-thumbnail.png"
                       [lazyLoad]="hotel.photo.src | size:250"
                       [offset]="80"
                       [alt]="hotel.name"
                       [title]="hotel.name"
                       onerror="this.src='assets/images/no-thumbnail.png'"/>
                </div>
                <div class="hotel-info m-t-10 d-flex flex-column">
                  <div>
                    <div class="hotel-name text-truncate-2lines">
                      <hotel-star [stars]="hotel.stars" version="2"></hotel-star>
                      {{ hotel.name }}
                    </div>
                    <div class="hotel-location m-t-5 text-truncate">
                      <img class="size-14x14 m-t-n-3"
                           cdn-src="assets/images/icon/icon-location-gray.svg" alt="location"/>
                      {{ hotel.address }}
                    </div>
                  </div>
                  <div class="hotel-price mt-auto">
                    <app-price class="text-green font-bold" [price]="hotel.price"></app-price>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

