<div class="forgot-password">

  <div class="row">
    <div class="col-12">
      <a class="pointer" (click)="onClose()">
        <img class="m-b-none m-t-n-5 size-24x24" cdn-src="assets/images/homepage/back.svg" alt="back"/>
      </a>
      <span class="m-l-20 font-20">Quên mật khẩu</span>
    </div>
  </div>
  <div class="row m-t-100">
    <div class="container-fluid">
      <p class="font-16">Bạn hãy nhập email, mật khẩu khôi phục sẽ được gởi qua email này</p>
    </div>
    <div class="container-fluid">
      <form class="form form-forgot-password"
            [formGroup]="form"
            (ngSubmit)="onResetPassword(form.value)">
        <div class="form-group has-icon"
             [ngClass]="{'has-error': (!email.valid && (email.dirty || showValid))}">
          <div class="icon-addon">
            <input [formControl]="email"
                   type="email"
                   class="form-control"
                   placeholder="Email"/>
            <span class="form-control-icon">
              <img class="size-24x24" cdn-src="assets/images/icon/icon-email-gray.svg" alt="icon"/>
            </span>
          </div>
          <div class="error d-none" *ngIf="email.dirty">
            <span *ngIf="email.errors | equalError:'required'">Yêu cầu nhập Email</span>
            <span *ngIf="email.errors | equalError:'email'">Email không hợp lệ</span>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-main font-18" [disabled]="form.invalid">Lấy lại mật khẩu</button>
        </div>
      </form>
    </div>
  </div>
</div>
