@import '_variables.less';

.tour-booking-page {
  margin-bottom: 70px;

  .tour-detail-valid-passenger {
    padding: 20px 16px;
    background: @c-gg;
    color: @white;
    font-weight: 400;
    z-index: 2002;
    display: none;
  }
}

