<div class="booking-detail booking-hotel-detail booking-hotel-detail-mobile" *ngIf="!!hotel">
  <app-header [version]="3" [back]="true" [fixed]="true">
    <header-title>
      <div class="text-truncate">{{ hotel.hotelName }}</div>
    </header-title>
  </app-header>

  <div class="wrapper p-15 p-t-none animated fadeInUp" min-height>
    <div class="container">
      <loading [show]="isLoading"></loading>

      <div class="row justify-content-center" *ngIf="!isLoading">
        <div class="col-12 col-md-8 col-xl-6">

          <!-- countdown -->
          <div class="hotel-countdown">
            <div class="panel m-t-15"
                 *ngIf="utilityHelper.findInList(hotel.status, [STATUS.PENDING, STATUS.UNPAID])">
              <div class="panel-body">
                <div class="d-flex justify-content-between">
                  <div class=""
                       *ngIf="utilityHelper.findInList(hotel.status, [STATUS.PENDING, STATUS.UNPAID, STATUS.CANCEL])">
                    <div class="font-bold text-light-gray font-12">Thời gian giữ chỗ:</div>
                    <div class="font-20 font-bold text-green">
                      <countdown [time]="hotel.holdExpiry"></countdown>
                    </div>
                    <div class="sub-label">
                      Hết hạn {{hotel.holdExpiry | moment: 'HH:mm'}}, {{hotel.holdExpiry | moment : 'DD/MM'}}
                    </div>
                  </div>
                  <div class="text-right border-left mn-w-50-pc" *ngIf="hotel.paymentDetail.method === METHOD.STORE">
                    <div class="font-bold text-light-gray font-12">Mã Payoo:</div>
                    <div class="font-20 font-bold text-green">
                      {{ hotel.paymentDetail.transactionNo }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- thông tin giao dịch -->
          <div class="hotel-transaction">
            <h4 class="title">
              Thông tin giao dịch
            </h4>

            <!-- chi tiết giá -->
            <div class="panel">
              <div class="panel-body p-10">
                <div class="row">
                  <div class="col-12">
                    <booking-status [status]="hotel.status" [fill]="true" [icon]="true"></booking-status>
                  </div>
                  <div class="col-12 m-t-10">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="text-dark-gray font-14 font-medium mr-auto">Hình thức</div>
                      <div class="font-medium">{{ hotel.paymentDetail.paymentMethodName || 'Thanh toán tại văn phòng'
                        }}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 m-t-10 ">
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="text-dark-gray font-14 font-medium mr-auto">Tổng tiền</div>
                      <a class="font-bold"
                         (click)="isPriceCollapse = !isPriceCollapse"
                         [attr.aria-expanded]="!isPriceCollapse"
                         aria-controls="priceCollapse">
                        <app-price [price]="hotel.totalPrice"></app-price>
                        <img class="m-l-10 m-t-n-3 size-24x24 rotate"
                             [class.rotate-180]="!isPriceCollapse"
                             cdn-src="assets/images/icon/icon-angle-down-green-small.svg"
                             alt="icon"/>
                      </a>
                    </div>

                    <div class="hotel-price-detail animated fadeIn"
                         id="priceCollapse"
                         [collapse]="isPriceCollapse">
                      <div class="row" *ngFor="let item of hotel.priceSummary.detailItems; let i = index">
                        <div class="col-7">
                          {{ item.title }}
                        </div>
                        <div class="col-5 font-medium p-l-none text-right">
                          <app-price [price]="item.price"></app-price>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- thông tin vé -->
            <div class="panel m-t-10">
              <div class="panel-body p-10">
                <a class="d-flex justify-content-center align-items-center"
                   [routerLink]="['/my-booking/hotel', hotel.code, 'room']">
                  <div class="mx-w-90-p">
                    <div class="text-dark-gray font-bold text-truncate">{{ hotel.hotelName }}</div>
                    <div class="font-13 m-t-5">
                      Ngày nhận - trả phòng:
                      {{ hotel.checkIn | moment: 'DD/MM' }} - {{ hotel.checkOut | moment: 'DD/MM' }}
                    </div>
                    <div class="font-13 m-t-5">
                      Số đêm: {{ hotel.nights }}
                      <span class="dot-gray"></span>
                      Số phòng: {{ hotel.roomNumbers }}
                    </div>
                  </div>
                  <div class="ml-auto">
                    <img class="m-l-10 m-t-n-3 size-24x24"
                         cdn-src="assets/images/icon/icon-angle-right-green.svg"
                         alt="icon"/>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- thông tin hỗ trợ -->
          <div class="hotel-support">
            <h4 class="title ">Thông tin hỗ trợ</h4>

            <div class="panel">
              <div class="panel-body p-10">
                <div class="font-14">
                  Mã đặt chỗ:
                  <a class="hotel-code m-l-5"
                     ngxClipboard
                     [cbContent]="hotel.code"
                     (cbOnSuccess)="onClipboardSuccess('Mã đặt chỗ đã được sao lưu.')">
                    {{ hotel.code }}
                    <img class="size-16x16" cdn-src="assets/images/icon/icon-copy-green.svg" alt="icon"/>
                  </a>
                </div>
                <div class="font-14 m-t-10">
                  Để tiện cho việc hỗ trợ, bạn vui lòng cung cấp thêm thông tin mã đặt chỗ khi liên hệ với nhân viên hỗ
                  trợ
                </div>
                <div class="m-t-10">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <a class="" href="tel:{{ CAPP.SUPPORT_CENTER }}">
                        <img class="size-24x24 m-t-n-3" cdn-src="assets/images/icon/icon-phone-green.svg" alt="icon"/>
                        Gọi tổng đài
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a class="" [routerLink]="['/more/request-support']"
                         [queryParams]="{type: 'hotel', code: hotel.code}">
                        <img class="size-24x24 m-t-n-3" cdn-src="assets/images/icon/icon-mail-green.svg" alt="icon"/>
                        Gửi yêu cầu hỗ trợ
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- hướng dẫn thanh toán -->
            <div class="m-t-10">
              <div class="panel">
                <div class="panel-body p-10">
                  <a class="d-flex justify-content-center align-items-center font-medium"
                     [routerLink]="['/my-booking/hotel', hotel.code, 'payment-guide']">
                    <span class="mr-auto">Hướng dẫn thanh toán</span>
                    <img class="size-24x24" cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
                  </a>
                </div>
              </div>
            </div>

            <!-- chính sách hủy phòng -->
            <div class="m-t-10">
              <div class="panel">
                <div class="panel-body p-10">
                  <a class="d-flex justify-content-center align-items-center font-medium"
                     [routerLink]="['/my-booking/hotel', hotel.code, 'cancelation-policy']">
                    <span class="mr-auto">Chính sách hủy phòng</span>
                    <img class="size-24x24" cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
                  </a>
                </div>
              </div>
            </div>

            <!-- thông tin lưu ý -->
            <div class="m-t-10">
              <div class="panel">
                <div class="panel-body p-10">
                  <a class="d-flex justify-content-center align-items-center font-medium"
                     [routerLink]="['/my-booking/hotel', hotel.code, 'note']">
                    <span class="mr-auto">Thông tin lưu ý</span>
                    <img class="size-24x24" cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
                  </a>
                </div>
              </div>
            </div>

            <div class="m-t-20"
                 *ngIf="utilityHelper.findNotInList(hotel.status, [STATUS.PAID, STATUS.CANCEL, STATUS.WAITING])">
              <a class="btn btn-main-v2 btn-block p-10"
                 [routerLink]="['/payment']"
                 [queryParams]="{reservationCode: hotel.code, module: 'hotel'}">
                <span class="text-white font-18">Đổi thanh toán</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cancellation Room Popup -->
<cancellation-popup [type]="'hotel'"
                    [data]="0"></cancellation-popup>
<!-- Cancellation Room Popup -->
