<div class="tour-journey-mobile-page" *ngIf="isMobile">

  <!-- new UI -->
  <div class="container p-l-none p-r-none" *ngIf="!!journey && newUI">
    <div class="row m-l-none m-r-none">
      <div class="col-12 p-r-none">
        <div class="tour-journey m-t-10">
          <div class="tour-journey-group" *ngFor="let item of journey.details; trackBy: trackByFn; let i = index">
            <div class="tour-origin tour-journey-item">
              <div class="tour-description active-dot w-full">
                <div class="row">
                  <div class="col-6 active-title">
                    {{ item.title }}
                  </div>
                  <div class="col-6 text-right"><span class="detail-btn" (click)="showDetail(i)">Chi tiết</span></div>
                </div>
                <div class="mn-h-40">
                  <div class="journey">{{item.name | titlecase}}</div>
                  <ul class="detail-journey m-t-8">
                    <li *ngFor="let ops of item.options">{{ops.title}}: {{ops.value}}</li>
                  </ul>
                </div>
                <div class="end-dot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- new UI -->

  <!-- old UI -->
  <div class="container p-l-none p-r-none tour-journey" *ngIf="!!journey && !newUI">
    <div class="row" *ngFor="let item of journey.details; trackBy: trackByFn; let i = index">
      <div class="col-12 green-title m-t-10">
        {{item.name | titlecase}}
      </div>
      <div class="col-12 small-content" *ngFor="let detail of item.items | slice:0:1">
        <div class="text-justify custom-inner-html" [innerHTML]="detail.text"></div>
      </div>
    </div>

    <div class="text-center m-t-20"><span class="bor-more" (click)="showDetail()">Hiển thị chi tiết</span></div>
  </div>
  <!-- old UI -->
</div>

<div class="tour-journey-desktop-page" *ngIf="isDesktop">

  <!-- new UI -->
  <div *ngIf="!!journey && newUI">
    <div class="tour-journey-group" *ngFor="let item of journey.details; trackBy: trackByFn; let i = index">
      <div class="row position-relative">
        <div class="col-12">
          <div class="tour-dot">
            <div class="text-in-dot">Ngày <span class="font-weight-bold font-20">{{item.idx}}</span></div>
          </div>
          <div class="title-journey" id="id{{i}}">
            {{ item.name | titlecase }}
          </div>
        </div>
        <div class="content">
          <div class="col-12 m-t-16">
            <ul class="sub-item text-justify">
              <li *ngFor="let ops of item.options">{{ops.title}}: {{ops.value}}</li>
            </ul>
          </div>
          <div class="col-12 m-t-10" *ngIf="!item.isShow">
            <span class="text-main btn-showmore pointer" (click)="item.isShow = !item.isShow">Chi tiết hành trình
              <span><img class="size-16x16 m-b-none m-t-n-3 rotate-180" cdn-src="assets/images/icon/icon-angle-up-orange.svg" alt="img" /></span>
            </span>
          </div>
          <div class="col-12 m-t-34" *ngIf="item.isShow">
            <div class="detail-journey" *ngFor="let detail of item.items">
              <img class="w-full h-424 img-fix" *ngIf="!!detail.image.src" [src]="detail.image.src" [alt]="detail.image.name" onerror="this.src='assets/images/no-thumbnail.png'" />
              <div class="detail-text text-justify m-t-20 m-b-20 custom-inner-html" [innerHTML]="detail.text"></div>
            </div>
            <div class="col-12 m-t-15 m-l-n-15">
              <span class="text-main btn-showmore pointer" (click)="triggerScrollTo(i); item.isShow = !item.isShow">Thu gọn hành trình
                <span><img class="size-16x16 m-b-none m-t-n-3" cdn-src="assets/images/icon/icon-angle-up-orange.svg" alt="img" /></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- new UI -->

  <!-- old UI -->
  <div class="container p-l-none p-r-none tour-journey" *ngIf="!!journey && !newUI">
    <div class="row" *ngFor="let item of journey.details; trackBy: trackByFn; let i = index">
      <div class="col-12 green-title m-t-10">
        {{item.name | titlecase}}
      </div>
      <div class="col-12 content" *ngFor="let detail of item.items">
        <img *ngIf="!!detail.image.src" class="img-fluid p-15-0" [src]="detail.image.src" [alt]="detail.image.name" onerror="this.src='assets/images/no-thumbnail.png'" />
        <div class="text-justify custom-inner-html" [innerHTML]="detail.text"></div>
      </div>
    </div>
  </div>
  <!-- old UI -->

</div>
