// component css goes here
@import "_variables.less";

.product-result-desktop-page {
  .m-t-140 {
    margin-top: 140px;
  }
  .mn-h-600 {
    min-height: 600px;
  }
  .bread-crumb {
    .breadcrumb-desktop {
      ol {
        &.breadcrumb {
          padding: 12px 0;
          font-size: 13px;
          color:@gray-2;
          margin-bottom: 0px;
        }
      }
    }
  }
  .des-text {
    color: @gray-2;
    font-size: 14px;
    margin-top: 10px;
    p {
      margin-bottom: 0;
    }
  }
  .btn {
    padding: 5px 18px;
  }
  .title-related {
    font-size: 20px;
    font-weight: 700;
    color: @gray-23;
  }
}