@import "_variables.less";
.hotel-equivalent-desktop {
  .title {
    color: @gray-23;
  }
  .mx-h-180 {
    height: 180px;
    max-height: 180px;
  }
  .address {
    color: @gray-9;
  }
  .bor-hotel {
    border: 1px solid @gray-3;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bg-fac {
    background-color: @green-3;
    color: @white;
    padding: 4px 8px;
    border-radius: 3px;
  }
  .sold-out {
    color: @red-2;
  }
  .points {
    color: @gray-1;
  }
  .pos-reviews {
    top: 8px;
    left: 25px;
  }

  .review-star {
    padding: 3px 8px;
    border-radius: 5px;
    color: @white;
    font-size: 13px;
    &.bg-review {
      background-color: @green-2;
    }
    &.bg-stars {
      background-color: @orange-2;
    }
  }
  
}