<div class="splashscreen-container">
  <div class="splashscreen-masker">
    <div class="splashscreen-wrapper">
      <div class="earth">
        <img class="" cdn-src="assets/images/splashscreen/earth.png" alt="earth"/>
      </div>
      <div class="sky">
        <div class="cloud">
          <img class="" cdn-src="assets/images/splashscreen/cloud.png" alt="cloud"/>
        </div>
        <div class="cloud">
          <img class="" cdn-src="assets/images/splashscreen/cloud.png" alt="cloud"/>
        </div>
      </div>
      <div class="airplane">
        <div class="fly-top-right">
          <div class="flying">
            <img class="" src="../assets/images/splashscreen/airplane.png" alt="airplane"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
