@import '_variables.less';

.store-popup {
  .modal-content {
    background: @gray-17;
    .modal-body {
      p {
        color: @black;
      }
    }
  }
  .modal-footer {
    border-top: 0;
    padding: 15px 8px;
    button {
      background: @orange-2;
      color: @white;
      width: 100%;
    }
  }

  .title {
    padding: 10px 15px;
    margin: 0 -15px;
    background-color: @gray-48;
    color: @gray-2;
    font-size: 13px;
  }

  .img-store {

    width: 20%;
    margin-top: 5px;
    background: @white;
    padding: 7px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}