@import "./../../../../less/_variables.less";

.hotel-rooms {
  .change-options {
    .title {
      color: @gray-1;
    }
    .h-60 {
      height: 60px;
    }
    .b-r {
      border-right: 2px solid @gray-6;
    }
    .b-l {
      border-left: 2px solid @gray-6;
    }

  }
  .title-result {
    height: 40px;
    background-color: @green-12;
    color: @white;
    padding: 10px 12px;
  }
}