@import './../../../../less/_variables.less';

.tour-group-booking {
  margin-bottom: 60px;

  .tour-group-footer {
    background-color: @gray-6;
    padding: 5px;
    z-index: 1000;
    width: 100%;
  }
}
