@import "_variables.less";
.full-screen-map {
  .pos-back {
    left: 20px;
    top: 20px;
    color: @white;
  }
  .bg-back {
    background-color: @green-2;
    padding: 4px 8px;
  }
  .pos-name {
    z-index: 1;
    width: 100%;
  }
}