// component css goes here
@import "_variables.less";

.coupon-banner-page {
  .bg-banner {
    background-image: url('../../../../../../assets/images/more/coupon/coupon-bg-banner.png');
    background-size: cover;
    background-position: center;
    height: 300px;
  }
}