.splashscreen-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.splashscreen-container .splashscreen-masker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splashscreen-container .splashscreen-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #c7e5f0;
  border-color: #c7e5f0;
}
@media (max-width: 575px) {
  .splashscreen-container .splashscreen-wrapper {
    transform: scale(0.8);
  }
}
.splashscreen-container .splashscreen-wrapper img {
  max-width: 100%;
  max-height: 100%;
}
.splashscreen-container .splashscreen-wrapper .earth {
  position: absolute;
  top: 130px;
  left: 0;
  width: 350px;
  height: 364px;
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}
.splashscreen-container .splashscreen-wrapper .sky {
  position: absolute;
  top: 0px;
  left: 0;
  width: 700px;
  height: 350px;
}
.splashscreen-container .splashscreen-wrapper .sky .cloud {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: moving 8s linear;
  -moz-animation: moving 8s linear;
  -ms-animation: moving 8s linear;
  -o-animation: moving 8s linear;
  animation: moving 8s linear infinite;
  animation-delay: 3s;
  -webkit-animation-delay: 2s;
  transform: translate3d(370px, 0, 0);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}
.splashscreen-container .splashscreen-wrapper .sky .cloud:first-child {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  top: 40px;
}
.splashscreen-container .splashscreen-wrapper .sky .cloud:nth-child(2) {
  animation-delay: 4s;
  top: -100px;
}
.splashscreen-container .splashscreen-wrapper .airplane {
  top: 45px;
  left: 145px;
  position: absolute;
  width: 60px;
  height: 60px;
}
.splashscreen-container .splashscreen-wrapper .airplane .fly-top-right {
  animation: flyTopRight 3.5s linear;
  -webkit-animation: flyTopRight 3.5s linear;
  -moz-animation: flyTopRight 3.5s linear;
}
.splashscreen-container .splashscreen-wrapper .airplane .flying {
  position: absolute;
  width: 60px;
  height: 60px;
  animation: flying 3.5s infinite;
  -webkit-animation: flying 3.5s infinite;
  -moz-animation: flying 3.5s infinite;
  animation-delay: 3.5s;
}
/** ----- rotating ----- **/
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/** ----- rotating ----- **/
/** ----- moving ----- **/
@-webkit-keyframes moving {
  /* Safari and Chrome */
  from {
    -webkit-transform: translate3d(370px, 0, 0);
    -o-transform: translate3d(370px, 0, 0);
    transform: translate3d(370px, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-370px, 0, 0);
    -o-transform: translate3d(-370px, 0, 0);
    transform: translate3d(-370px, 0, 0);
  }
}
@keyframes moving {
  from {
    -ms-transform: translate3d(370px, 0, 0);
    -moz-transform: translate3d(370px, 0, 0);
    -webkit-transform: translate3d(370px, 0, 0);
    -o-transform: translate3d(370px, 0, 0);
    transform: translate3d(370px, 0, 0);
  }
  to {
    -ms-transform: translate3d(-370px, 0, 0);
    -moz-transform: translate3d(-370px, 0, 0);
    -webkit-transform: translate3d(-370px, 0, 0);
    -o-transform: translate3d(-370px, 0, 0);
    transform: translate3d(-370px, 0, 0);
  }
}
/** ----- moving ----- **/
/** ----- fly top right ----- **/
@keyframes flyTopRight {
  0% {
    transform: translate3d(-235px, 120px, 0) rotateZ(-45deg);
    -webkit-transform: translate3d(-235px, 120px, 0);
    -moz-transform: translate3d(-235px, 120px, 0);
  }
  33.33% {
    transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -webkit-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -moz-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
  }
  66.66% {
    transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -webkit-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -moz-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
    -webkit-transform: translate3d(0, 0px, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 0px, 0) rotateZ(0deg);
  }
}
@-webkit-keyframes flyTopRight {
  0% {
    transform: translate3d(-235px, 120px, 0) rotateZ(-45deg);
    -webkit-transform: translate3d(-235px, 120px, 0);
    -moz-transform: translate3d(-235px, 120px, 0);
  }
  33.33% {
    transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -webkit-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -moz-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
  }
  66.66% {
    transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -webkit-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -moz-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
    -webkit-transform: translate3d(0, 0px, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 0px, 0) rotateZ(0deg);
  }
}
@-moz-keyframes flyTopRight {
  0% {
    transform: translate3d(-235px, 120px, 0) rotateZ(-45deg);
    -webkit-transform: translate3d(-235px, 120px, 0);
    -moz-transform: translate3d(-235px, 120px, 0);
  }
  33.33% {
    transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -webkit-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
    -moz-transform: translate3d(-157px, 70px, 0) rotateZ(-30deg);
  }
  66.66% {
    transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -webkit-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
    -moz-transform: translate3d(-79px, 30px, 0) rotateZ(-15deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotateZ(0deg);
    -webkit-transform: translate3d(0, 0px, 0) rotateZ(0deg);
    -moz-transform: translate3d(0, 0px, 0) rotateZ(0deg);
  }
}
/** ----- fly top right ----- **/
/** ----- flying ----- **/
@keyframes flying {
  0% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
  }
  /*50% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }*/
  75% {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
}
@-webkit-keyframes flying {
  0% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
}
@-moz-keyframes flying {
  0% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  25% {
    transform: translate3d(0, -10px, 0);
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
  }
}
/** ----- flying ----- **/