<div class="block block-promotion {{ class }}">
  <div class="promotion promotion-desktop" *ngIf="isDesktop">
    <div class="container">
      <div class="row">
        <div class="container-fluid">
          <div class="block-body">
            <div class="row">
              <div class="col-6 p-r-10">
                <a class="pointer">
                  <img class="w-full" cdn-src="assets/images/bg-promotion1.png" alt="promotion #1"/>
                </a>
              </div>
              <div class="col-6 p-l-10">
                <a class="pointer">
                  <img class="w-full" cdn-src="assets/images/bg-promotion2.png" alt="promotion #1"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
