@import "_variables.less";
@import "_mixins.less";

.sub-header {
  .location-item {

    img {
      width: 180px;
      height: 120px;
      object-fit: cover;
      -o-object-fit: cover;
      .border-radius(5px);
    }

    .location-name {
      margin-top: 10px;
      font-size: 16px;
      font-weight: @font-medium;
    }
  }


}