@import '_variables.less';
@import "_mixins.less";

.booking-flight-detail-item {

  &.booking-flight-detail-item-mobile {
    background-color: @white;
    .box-shadow(0, 0, 3px, rgba(0, 0, 0, .2));
    .border-radius(10px);
    padding: 10px;

    .flight-location {
      font-weight: @font-bold;
      font-size: 14px;
    }

    .flight-price {
      margin-top: 10px;
      font-weight: @font-medium;
      font-size: 13px;
    }

    .flight-status {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid @gray-18;
      font-size: 13px;
    }
  }

  &.booking-flight-detail-item-desktop {

    .date {
      color: @gray-1;
    }

    .status {
      font-size: 15px;
    }

    .panel.panel-desktop {
      color: @gray-2;

      .panel-heading {
        .border-radiuses(10px, 0, 0, 10px);
        padding: 10px 20px;
        background-color: @gray-17;

        > span {
          display: inline-block;
          font-weight: 400;
          color: @black;
          font-size: 15px;
          margin: 0;
        }
      }

      .panel-body, .card-body {
        padding: 10px 20px;
      }
    }
  }
}