@import "_variables.less";

.account-fill-info {

  .header-mobile{
    a.skip {
      font-size: 13px;
      display: block;
    }
    .bg-header {
      background-color: @green-2;
      color: @white;
      padding: 10px;
    }
  }
  .title {
    padding: 5px 15px;
  }

}