<div class="introduction">

  <div class="main-body p-b-20">

    <!-- slider -->
    <home-banner></home-banner>

    <!-- main content -->
    <section class="m-t-40">
      <div class="container">
        <h1 class="font-34 font-medium text-center">Giới thiệu</h1>
        <div class="row">
          <div class="container-fluid">
            <h4 class="heading">Vì sao nên chọn Vietmap travel?</h4>
            Tại Vietmap Travel, chúng tôi tự hào cung cấp những dịch vụ du lịch chất lượng và hợp lý nhằm góp phần nâng
            tầm chất lượng cuộc sống, đáp ứng yêu cầu đối với mọi quý khách hàng mà chúng tôi đang hướng đến và phục vụ.
          </div>
          <div class="container-fluid">
            <h4 class="heading">Tổng quan về công ty</h4>
            <div class="">
              <strong>Giới thiệu chungs</strong>
              <ul>
                <li>Tên công ty: CÔNG TY CỔ PHẦN DU LỊCH VIETMAP</li>
                <li>Tên giao dịch: VIETMAP TRAVEL</li>
                <li>Thành lập: 20/08/2016</li>
                <li>Nhân sự: 50 người</li>
              </ul>
              <ul>
                <li>Trụ sở chính: 136 Nguyễn Duy Dương, Phường 9, Quận 5, TP.HCM</li>
                <li>Website: www.vietmaptravel.vn</li>
                <li>Điện thoại: (84) 028.73.006.001</li>
                <li> E-mail: support@vietmaptravel.vn</li>
              </ul>
            </div>
            <div class="">
              <strong>Lĩnh vực hoạt động</strong>
              <ol>
                <li>
                  Chuyên bán tour, thiết kế tư vấn tour cho tập thể (tối thiểu 10 người), tổ chức tour cho các công ty
                  lớn, nhỏ và tập đoàn.
                  <p>- Chuyên các tour nước ngoài, đặc biệt là Nhật Bản, Đài Loan, Hàn Quốc…</p>
                </li>
                <li>
                  Cung cấp, tư vấn và bán vé máy bay (quốc tế và quốc nội ).
                  <p>- Chuyên cung cấp vé máy bay quốc nội và quốc tế với mức giá cạnh tranh, cùng với các khuyến mãi
                    đặc biệt, quý khách hàng sẽ thật sự cảm thấy thoải mái và an tâm khi đặt tại VIETMAP TRAVEL.</p>
                </li>
                <li>
                  Tư vấn các dịch vụ về hải quan - nhập cảnh.
                  <p>- Tư vấn làm thủ tục visa Châu Á, Châu Âu, Châu Mỹ</p>
                  <p>- Tư vấn và làm thủ tục visa cho người nước ngoài</p>
                  <p>- Hỗ trợ làm Passport tại Việt Nam</p>
                </li>
              </ol>
              <ul class="m-l-none">
                <li>VietMap Travel cam kết hỗ trợ nhiệt tình và chu đáo việc đổi vé và hoàn vé. Hỗ trợ tối đa khách
                  hàng gặp khó khăn hoặc xảy ra sự cố khi check in tại sân bay
                </li>
                <li>Với đội ngũ nhân viên nhiều kinh nghiệm trong lĩnh vực du lịch, VIETMAP TRAVEL hướng tới nhóm
                  khách hàng là người Việt Nam có nhu cầu và nguyện vọng trải nghiệm du lịch tại nước ngoài với giá
                  cả hợp lý và chất lượng, sự hài lòng của quý khách hàng là nhiệm vụ hàng đầu của chúng tôi.
                </li>
              </ul>
            </div>
          </div>
          <div class="container-fluid">
            <h4 class="heading">Tổng quan về công ty</h4>
            Vietmap Travel mong muốn trở thành một trong những công ty hàng đầu trong lĩnh vực du lịch tại Việt Nam,
            chuyên cung cấp những dịch vụ du lịch tốt nhất, góp phần tạo điều kiện cho mọi người có cơ hội trải nghiệm
            du lịch với chi phí tốt nhất.
          </div>
          <div class="container-fluid">
            <h4 class="heading">Triết lý kinh doanh</h4>
            <strong>Chất lượng là danh dự</strong>
            <p>Chất lượng kết hợp sự khác biệt tạo nên thành công, bởi vậy mọi thứ bắt đầu từ chất lượng, chất lượng đảm
              bảo giá trị bền vững, lâu dài và uy tín của mỗi thương hiệu. Với ý nghĩa đó, chúng tôi cam kết mang đến
              cho quý khách những dịch vụ chăm sóc tốt nhất và tận tâm nhất.</p>
            <strong>Khách hàng là trung tâm</strong>
            <p>Khách hàng là yếu tố quyết định sự thành công của mỗi thương hiệu trong quá trình phát triển, luôn đồng
              hành và đặt lợi ích khách hàng lên trên hết là phương châm hoạt động của chúng tôi</p>
          </div>
          <div class="container-fluid">
            <h4 class="heading">Giá trị cốt lỗi</h4>
            <strong>Chăm sóc</strong>
            <p>Mỗi người đều xứng đáng tận hưởng vẻ đẹp của thiên nhiên, con người và cuộc sống ở khắp mọi nơi. Bởi vậy,
              chăm sóc và tôn vinh ước mơ ấy là việc làm luôn được chúng tôi nâng niu và trân trọng.</p>
            <strong>Sẻ chia</strong>
            <p>- Chúng tôi luôn lắng nghe và đồng hành để hiện thực hóa những ước mơ và đam mê của khách hàng, niềm vui
              của các bạn là hạnh phúc của chúng tôi</p>
            <p>- Sẻ chia trách nhiệm với xã hội, cộng đồng luôn là kim chỉ nam cho sự phát triển của chúng tôi.</p>
          </div>

          <div class="container-fluid">
            <h4 class="heading">Sứ mệnh công ty</h4>
            Khắng định Vietmap Travel là niềm tự hào trên thị trường du lịch Việt Nam. Thông qua việc cung cấp những
            dịch vụ du lịch hoàn hảo, thương hiệu Vietmap Travel thỏa mãn đam mê du lịch của mọi người dân Việt Nam.
          </div>
        </div>
      </div>
    </section>
  </div>F
</div>
