// component css goes here
@import "_variables.less";
.success-request-popup {
  .modal-content {
    border-radius: 10px !important;
    .modal-body {
      background-color: @green-2;
      border-radius: 10px;
      padding: 25px;
    }
  }
  .thanks-text {
    font-weight: 500;
    font-size: 16px;
    color: @white;
  }
}