/**
 * These are the custom mixins used throughout the application.
 */
// RGBA colours in IE via a LESS mixin
.rgba(@colour, @alpha) {
  @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
  @ieAlphaColour: argb(@alphaColour);

  background-color: @colour; // Fallback for older browsers
  background-color: @alphaColour;

  // IE hacks
  zoom: 1; // hasLayout
  background-color: transparent \9;
  /*
  -ms-filter-popup-popup: "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
      filter-popup-popup:  ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})";  // IE 6 & 7
  */
}

.placeholder(@color: @light-gray, @size: inherit, @weight: inherit) {
  &::-webkit-input-placeholder {
    color: @color;
    font-size: @size;
    font-weight: @weight;
  }
  &::-moz-placeholder {
    color: @color;
    font-size: @size;
    font-weight: @weight;
  }
  &:-ms-input-placeholder {
    color: @color;
    font-size: @size;
    font-weight: @weight;
  }
  &:-moz-placeholder {
    color: @color;
    font-size: @size;
    font-weight: @weight;
  }
}

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;

  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;

  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.border(@border-top: @std-border, @border-right: @std-border, @border-bottom: @std-border, @border-left: @std-border) {
  border-top: @border-top;
  border-right: @border-right;
  border-bottom: @border-bottom;
  border-left: @border-left;
}

.border(@border: @std-border) {
  border: @border;
}

.user-select(@select: none) {
  -webkit-user-select: @select; /* Chrome/Safari */
  -moz-user-select: @select; /* Firefox */
  -ms-user-select: @select; /* IE10+ */
  -o-user-select: @select;
  user-select: @select;
}

.box-center() {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.box-shadow(@hoff: 0, @voff: 0, @blur: 0, @color: @white) {
  -webkit-box-shadow: @hoff @voff @blur @color;
  -moz-box-shadow: @hoff @voff @blur @color;
  box-shadow: @hoff @voff @blur @color;
}

.text-shadow(@hoff: 0, @voff: 0, @blur: 0, @color: @white) {
  text-shadow: @hoff @voff @blur @color;
}

.transform (@value: translate(0,0)) {
  -webkit-transform: @value; /* Chrome and other webkit browsers */
  -moz-transform: @value; /* FF */
  -o-transform: @value; /* Opera */
  -ms-transform: @value; /* IE9 */
  transform: @value;
}

.transition(@transition: all .5s linear) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

.clip-path(@clip-path) {
  -webkit-clip-path: @clip-path;
  clip-path: @clip-path;
}

.animation(@value) {
  -webkit-animation: @value;
  animation: @value;
}
