@import "_variables.less";
.hotel-reviews-desktop {
  .gray-text {
    color: @gray-2;
  }
  .bo-r {
    border-right: 1px solid @gray-3;
  }
  .review-rating {
    color: @green-2;
    &.review-danger {
      color: @red-2;
    }
    &.review-normal {
      color: @green-2;
    }
  }
  .progress {
    height: 8px;
    border-radius: 0;
    .h-8 {
      height: 8px;
    }
  }
  .bg-gray {
    background-color: @gray-38;
  }
  .date-cmt {
    color: @gray-1;
  }
  .pos-cmt {
    top: -3px;
    left: 65px;
    color: @green-3;
  }
  
}