<!--component html goes here -->
<div class="favorite-empty-screen">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="shadow b-r-10 bg-white pos-img m-b-5">
        <img class="m-b-25" cdn-src="assets/images/more/empty-screen.svg" alt="">
        <div class="detail-text">
          Chưa có danh sách yêu thích
        </div>
        <div class="detail-text m-b-30">
          Hãy lưu lại danh mục bạn yêu thích để xem lại thuận tiện nhất
        </div>
      </div>
    </div>
  </div>
</div>
