@import "_variables.less";
@import "_mixins.less";

.block {
  &.block-all-in-one-tour {

    .block-title {
      font-weight: @font-thin;
      font-size: 22px;
      color: @black;
    }

    .block {
      padding: 15px 0;

      .block-title {
        font-size: 16px;
        font-weight: @font-medium;
      }
    }
  }
}
