@import "_variables.less";

.tour-highlight-page {
  .highlight {
    display: -webkit-box;
    li {
      &.highlight-item {
        padding: 1px 3px;
        color: @orange-2;
        border: 1px solid @orange-2;
        border-radius: 3px;
        font-size: 13px;
        word-wrap: break-word;
      }
    }
  }
}