@import '_variables.less';
@import './_mixins.less';

.payment-result-desktop {

  .text-danger{
    color: @red-3 !important;
  }
  p {
    text-align: center !important;
  }
  ul {
    list-style-type: disc;
    margin-top: 15px;
  }
}
