@import "_variables.less";

.personal-info {

  .form.form-desktop {
    .form-group {
      .form-control {
        font-weight: 500;
        color: @gray-2;
        padding-top: 0;
        height: auto;
      }
    }
  }
}