.faq {
  .padt5 {
    padding-top: 5px;
  }
  .padt20 {
    padding-top: 20px;
  }
  .wid25 {
    width: 25%
  }
  .title-md {
    font-size: 25px;
  }
  .panel-title {
    font-weight: bold;
  }
  .panel-heading {
    padding: 2px 20px !important;
    border-bottom: 1px dotted #9e9e9e;
  }
  .panel-body {
    padding: 0px 20px;
    background-color: #F5F5F5;
    text-align: justify;
  }
  .panel-body p {
    font-size: 15px;
  }
  .pointer {
    cursor: pointer;
  }

  .choosen {
    font-weight: 400;
    font-size: 14px;
    opacity: .6;
    cursor: pointer;
  }
  .choosen_active {
    font-weight: bold;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
    background-color: #fff;
  }
}