@import '_variables.less';
@import "_mixins.less";

.tour-detail-item-mobile-page {
  .tour-detail-image {
    position: relative;

    .line-height-price {
      line-height: 1.3;
    }
    
    img {
      width: 100%;
      height: 160px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .tour-code {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: transparent;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
      color: @white;
      padding: 10px;
      font-weight: 500;
      font-size: 14px;

      a {
        img {
          .border-radius(0px);
        }
      }
    }
  }
  .tour-detail-info {
    background-color: @white;
    padding: 10px;
    &.bor-bottom {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .tour-detail-name {
      font-size: 15px;
      color: @gray-2;
      font-weight: 700;
    }
    .tour-detail-desc {
      font-size: 13px;
      color: @gray-1;
    }
    .depart-title {
      color: @black;
      font-size: 13px;
    }
    .bor-r {
      border-right: 1px solid @gray-7;
    }
    .ori-price {
      text-decoration: line-through;
      font-size: 12px;
      color: @gray-1;
    }
    .price-point-item {
      .sell-price {
        color: @orange-2;
        font-weight: 700;
      }
      .ori-price {
        text-decoration: line-through;
        font-size: 12px;
        color: @gray-1;
      }
    }
    .available {
      color: @green-2;
      border-radius: 5px;
      border: 1px solid @green-2;
      padding: 4px 12px;
      font-size: 13px;
      font-weight: 500;
    }
    .pos-available {
      right: 10px;
      bottom: 10px;
    }
  }
  .bor-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .coupon {
    background-color: @gray-17;
    padding: 8px 10px;
    font-size: 10px;
    color: @gray-2;
    .code {
      text-transform: uppercase;
      font-weight: 700;
      color: @white;
      padding: 1px 2px;
      background-color: @orange-2;
      border-radius: 3px;
    }
    .end-date {
      color: @gray-2;
      position: absolute;
      bottom: 8px;
      right: 10px;
    }
  }
}