@import '_variables.less';

.modal {
  &.reference-price-popup {

    .modal-dialog {
      max-width: 320px;

      .modal-body {
        padding: 15px;

        .title {
          font-size: 18px;
          font-weight: 500;
          color: @black;
          margin-bottom: 10px;
        }

        .btn {
          &.btn-link {
            color: @orange-2;
            font-size: 15px;
          }
        }
      }
    }
  }
}