// component css goes here
@import "_variables.less";

.hotel-price-detail {
  .line {
    border-top: 1px dashed @gray-7;
    margin: 0 15px;
  }
  .bg-point {
    background-color: @gray-13;
    padding: 4px 10px;
  }
}