@import "_variables.less";

.passenger-page {
  &.passenger-desktop {

    .title {
      font-size: 24px;
      color: @gray-23;
      font-weight: 900;

      .btn {
        color: @white;
        margin-top: -7px;
      }
    }

    .passenger-list {
      font-size: 16px;
      color: @gray-2;

      > li {
        padding: 23px 0;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}