@import '_variables.less';
.tour-contact-wp{
    .title-box-contact{
        font-size:24px;
        color:@green-2;
        font-weight: 700;
    }
    .icon{
        border-radius: 50%;
        border: 1px solid @green-2;
        padding: 4px 8px;
        color: @green-2;
        &.hot-line{
            padding: 4px 9px;
            i{
                vertical-align: text-bottom;
            }
        }
    }
}