// component css goes here
@import '_variables.less';

.tour-date-selector-popup {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          .title-time {
            // color: @gray-1;
            // font-weight: 700;
            font-size: 12px;
            margin-top: 21px;
          }
          .time-range {
            // color: @gray-2;
            //font-weight: 700;
            font-size: 20px;
            padding-bottom: 11px;
            .light-gray {
              color: @gray-7;
            }
          }
          .line-bot {
            border-bottom: 4px solid @gray-41;
          }
        }
      }
      .modal-body {
        background-color: @white;
        padding: 0px !important;
        .b-r-56 {
          border-radius: 56px;
        }
      }
      .modal-footer {
        padding: 14px 16px;
        background-color: @white;
        .btn {
          padding: 10px 15px;
          &.btn-main-v3 {
            font-weight: 500;
          }
        }
      }
    }
  }
}