@import '_variables.less';

.bill-info {
  &.bill-info-desktop {

    .note {
      font-size: 15px;
      border-radius: 10px;
      color: @gray-2;

      .note-danger {
        color: @red-4;
      }
    }

    .switch {
      /*&.switch-large {
        position: relative;
        margin-bottom: 5px;
        height: 30px;
        width: 55px;

        small {
          top: 1px;
          width: 28px;
          height: 28px;
        }

        &.checked {
          small {

          }
        }
      }*/
    }
  }
}