@import "_variables.less";

.booking-footer {
  margin: 0;
  padding: 7px;
  z-index: 2001;
  background-color: @green-2;

  .price-info {
    line-height: 1;
    color: @white;
  }

  .btn {
    padding: 0px 6px;
  }
  .disabled {
    opacity: 0.65;
  }

  .rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}