<div class="qr-code-popup-stl area-bg">
  <div class="my-booking-flight">
    <app-header [back]="true" [heading]="'Mã QRCode'"></app-header>
    <div class="row">
      <div class="col-12">
        <div class="qr-code text-center p-t-25vh">
          <img class="" [src]="onGetQRCode()" alt="QRCode" width="160" />
          <div class="row sub-title-qr">
            <div class="col-12">mã qr code</div>
          </div>
          <div class="row mg-15">
            <div class="col-12 sub-title-small m-auto mx-w-90-p">
              Xuất trình mã QRCode cho nhân viên khi bạn thanh toán tại văn
              phòng hoặc đại lý Xtrip
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>