@import "_variables.less";
.modal.product-gallery-popup {
  .modal-dialog {
    .modal-content {
      background-color: @black;
      .modal-header {
        position: relative;
        .modal-title {
          font-size: 20px;
        }
      }
      .modal-body {
        padding: 15px 0;
        overflow-y: hidden !important;
      }
      &.product-detail-desktop {
        .modal-body {
          padding: 0;
          .product-info{
            .product-info-wp{
              box-shadow: none;
            }
          }
        }
        .ngx-gallery-image-wrapper {
          width: 80%;
          height: 100%;
          position: absolute;
          left: 10%;
          top: 0px;
          overflow: hidden;
          .ngx-gallery-image {
            height: 80%;
            top: 10%;
          }
          .ngx-gallery-image-text {
            background: @black;
          }
        }
        
        .ngx-gallery-thumbnails-wrapper {
          .ngx-gallery-thumbnail {
            border: transparent 2px solid;
            opacity: .5;
          }
          .ngx-gallery-active {
            opacity: 1;
            border: 2px solid @white;
          }
        }
        .border-close {
          border: 2px solid @gray-7;
          padding: 8px 2px;
        }
      }
    }
  }
  .gray-text {
    color: @gray-2;
  }
  .fac-item-bg {
    background-color: @green-3;
    padding: 4px 8px;
    border-radius: 3px;
    color: @white;
  }
}