<div class="hotel-cancellation-policy-desktop hotel-cancellation-policy animated zoomIn {{ class }}"
  *ngIf="room.refundPolicies.length > 0 && isDesktop">
  <h4 class="title">
    Chính sách hủy đặt phòng
  </h4>
  <div class="panel panel-desktop">
    <div class="panel-body">
      <ul>
        <li *ngFor="let item of room.refundPolicies; trackBy: trackByFn;">
          <img class="m-b-0 m-t-n-3 size-16x16" cdn-src="assets/images/hotel/desktop/li.svg" alt="icon">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /desktop -->

<div class="hotel-cancellation-policy hotel-cancellation-policy-mobile" *ngIf="isMobile">
  <div class="row">
    <div class="col-12 p-l-10 p-r-10">
      <div class="title font-15 font-medium">Chính sách đặt phòng</div>
      <div [innerHTML]="data" class="font-13 content-policy m-t-10 bg-white p-10 b-r-10 text-justify">
      </div>
    </div>
  </div>
</div>
<!-- /mobile -->