@import "_variables.less";

.modal.popup-hotel-filter-options {
  .modal-dialog {
    .modal-content {
      .color-42 {
        color: @gray-2;
      }
      .modal-body {
        .custom-list {
          .list-group {
            padding: 0 14px;
            .list-group-item {
              padding: 10px 0;
              border-bottom: 1px solid @gray-8;
              margin-bottom: 0;
              a {
                color: @black;
                font-weight: 400;
              }
            }
          }
        }

      }
      .modal-footer {
        .btn {
          padding: 10px 15px;
          font-weight: 700;
          font-size: 16px;
        }
        padding: 20px 14px;
      }
    }
  }
}