@import "_variables.less";

.hotel-detail-basic {
  .rating {
    background-color: @green-2;
    padding: 4px 8px;
    border-radius: 5px;
  }
  .review {
    color: @black;
  }
  .map-view {
    color: @orange-2;
    text-decoration: underline;
  }
  .facilities {
    &.title {
      color: @gray-2;
    }
  }
  .fac-item {
    .bg-fac {
      padding: 0 5px;
      background-color: @green-10;
      border-radius: 5px;
      line-height: 2;
      color: @black;
    }
  }
  .h-450 {
    height: 450px;
  }
  .b-10 {
    bottom: 10px;
  }
}