<div class="signin-request signin-request-mobile" *ngIf="isShow">
  <div class="login-bg p-10">
    <a (click)="onLogin()">
      <div class="d-table">
        <div class="d-table-row">
          <div class="d-table-cell align-middle">
            <img class="size-87x60 m-b-n-10 m-l-n-10" cdn-src="assets/images/signin/icon-rq-sign-in.svg" alt="user"/>
          </div>
          <div class="d-table-cell align-middle font-15">
            <span class="font-medium">Đăng nhập</span> để đặt chỗ nhanh hơn & nhận thêm ưu đãi giá
          </div>
          <div class="d-table-cell pull-right">
            <img class="m-b-n-60 m-r-n-10" cdn-src="assets/images/signin/icon-palm.svg" alt="img"/>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
