@import '_variables.less';
@import '_mixins.less';

.product-booking {
  &.product-booking-mobile {
    background-color: @white;
    margin-bottom: 130px;

    .wrapper {
      padding: 20px 15px;
    }

    .product-booking-footer {
      .box-shadow(0, 0, 8px, rgba(0, 0, 0, .2));
      padding: 15px;
      background-color: @white;
    }
  }
}