@import "_variables.less";
@import "_mixins.less";

.tour-recommend {

  &.tour-recommend-desktop {

    .home-tour-item {
      &.home-tour-item-desktop {
        width: auto;
        border-width: 0;

        .tour-info {
          padding: 10px;
        }
      }
    }
  }
}
