<div class="booking-flight-detail booking-flight-detail-mobile"
     *ngIf="!!flight">

  <app-header [version]="3" [back]="true" [fixed]="true">
    <header-title>
      {{ getAirportWith(flight.segments[0].origin, 'location') }}
      <img class="m-t-n-3 size-12x12"
           [src]="flight.segments.length > 1 ? 'assets/images/icon/icon-arrow-round-white.svg' : 'assets/images/icon/icon-arrow-right-white.svg'"
           alt="icon"/>
      {{ getAirportWith(flight.segments[0].destination, 'location') }}
    </header-title>
  </app-header>

  <div class="wrapper p-15 p-t-none" min-height>
    <loading [show]="isLoading"></loading>

    <div class="row justify-content-center" *ngIf="!isLoading">
      <div class="col-12 col-md-8 col-lg-6">

        <!-- countdown -->
        <div class="flight-countdown"
             *ngIf="utilityHelper.findInList(flight.status, [STATUS.PENDING, STATUS.UNPAID])">
          <div class="panel m-t-15">
            <div class="panel-body">
              <div class="d-flex justify-content-between">
                <div class=""
                     *ngIf="utilityHelper.findInList(flight.status, [STATUS.PENDING, STATUS.UNPAID, STATUS.CANCEL])">
                  <div class="font-bold text-light-gray font-12">Thời gian giữ chỗ:</div>
                  <div class="font-20 font-bold text-green">
                    <countdown [time]="flight.holdExpiry" (submit)="onExpired()"></countdown>
                  </div>
                  <div class="sub-label">
                    Hết hạn {{flight.holdExpiry | moment: 'HH:mm'}}, {{flight.holdExpiry | moment : 'DD/MM'}}
                  </div>
                </div>
                <div class="text-right border-left mn-w-50-pc"
                     *ngIf="flight.paymentDetail.method === METHOD.STORE">
                  <div class="font-bold text-light-gray font-12">Mã Payoo:</div>
                  <div class="font-20 font-bold text-green">
                    {{ flight.paymentDetail.transactionNo }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- thông tin giao dịch -->
        <div class="flight-transaction">
          <h4 class="title">
            Thông tin giao dịch
          </h4>

          <!-- chi tiết giá -->
          <div class="panel">
            <div class="panel-body p-10">
              <div class="row">
                <div class="col-12">
                  <booking-status [status]="flight.status" [fill]="true" [icon]="true"></booking-status>
                </div>
                <div class="col-12 m-t-10">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="text-dark-gray font-14 font-medium mr-auto">Hình thức</div>
                    <div class="font-medium">{{ flight.paymentDetail.paymentMethodName || 'Thanh toán tại văn phòng'
                      }}
                    </div>
                  </div>
                </div>
                <div class="col-12 m-t-10 ">
                  <div class="d-flex justify-content-center align-items-center">
                    <div class="text-dark-gray font-14 font-medium mr-auto">Tổng tiền</div>
                    <a class="font-bold"
                       (click)="isPriceCollapse = !isPriceCollapse"
                       [attr.aria-expanded]="!isPriceCollapse" aria-controls="priceCollapse">
                      <app-price [price]="flight.totalPrice"></app-price>
                      <img class="m-l-10 m-t-n-3 size-24x24 rotate"
                           [class.rotate-180]="!isPriceCollapse"
                           [src]="'assets/images/icon/icon-angle-down-green-small.svg'"
                           alt="icon"/>
                    </a>
                  </div>

                  <div class="flight-price-detail animated fadeIn"
                       id="priceCollapse"
                       [collapse]="isPriceCollapse">
                    <div class="row" *ngFor="let group of flight.basicPriceSummaries.summaries">
                      <div class="container-fluid">
                        <div class="title m-t-none">{{ group.name }}</div>
                        <div class="row" *ngFor="let item of group.groupItem.detailItems">
                          <div class="col-7">
                            {{ item.title }}
                          </div>
                          <div class="col-5 font-medium text-right">
                            {{ item.price | currencyMoney:'' }} <span class="text-underline">đ</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- thông tin vé -->
          <div class="panel m-t-20">
            <div class="panel-body p-10">
              <a class="d-flex justify-content-center align-items-center"
                 [routerLink]="['/my-booking/flight', flight.code, 'ticket']">
                <div class="">
                  <div class="font-14 font-bold text-truncate">
                    {{ getAirportWith(flight.segments[0].origin, 'location') }}
                    <img class="size-12x12"
                         [src]="flight.segments.length > 1 ? 'assets/images/icon/icon-arrow-round-white.svg' : 'assets/images/icon/icon-arrow-right-white.svg'"
                         alt="icon"/>
                    {{ getAirportWith(flight.segments[0].destination, 'location') }}
                  </div>
                  <div class="font-13 text-truncate">
                    Ngày đi <span *ngIf="flight.segments.length > 1"> - về</span>:
                    <div class="d-inline-block"
                         *ngFor="let segment of flight.segments; trackBy: trackByFn; let i = index">
                      <span class="m-l-5 m-r-5" *ngIf="i > 0">|</span>
                      {{ segment.departTime | moment:'HH:mm DD/MM' }}
                    </div>
                  </div>
                  <div class="font-13">
                    <ul>
                      <li class="m-t-5"
                          *ngFor="let segment of flight.segments | slice:0:1; trackBy: trackByFn">
                        <img class="m-t-n-3 size-16x16 m-r-5"
                             [src]="getAirlineWith(segment.carrier, 'icon')"
                             [alt]="getAirlineWith(segment.carrier, 'name')"
                             onerror="this.src = 'assets/images/no-thumbnail.png'"/>
                        {{ getAirlineWith(segment.carrier, 'name') }} - {{ segment.flightNumber }}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="ml-auto">
                  <img class="m-l-10 m-t-n-3 size-24x24"
                       cdn-src="assets/images/icon/icon-angle-right-green.svg"
                       alt="icon"/>
                </div>
              </a>
            </div>
          </div>
        </div>

        <!-- thông tin hỗ trợ -->
        <div class="flight-support">
          <h4 class="title ">Thông tin hỗ trợ</h4>

          <div class="panel">
            <div class="panel-body p-10">
              <div class="font-14">
                Mã đặt chỗ:
                <a class="flight-code m-l-5"
                   ngxClipboard
                   [cbContent]="flight.code"
                   (cbOnSuccess)="onClipboardSuccess('Mã đặt chỗ đã được sao lưu.')">
                  {{ flight.code }}
                  <img class="size-16x16" cdn-src="assets/images/icon/icon-copy-green.svg" alt="icon"/>
                </a>
              </div>
              <div class="font-14 m-t-10">
                Để tiện cho việc hỗ trợ, bạn vui lòng cung cấp thêm thông tin mã đặt chỗ khi liên hệ với nhân viên hỗ
                trợ
              </div>
              <div class="m-t-10">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a class="" href="tel:{{ CAPP.SUPPORT_CENTER }}">
                      <img class="size-24x24 m-t-n-3" cdn-src="assets/images/icon/icon-phone-green.svg" alt="icon"/>
                      Gọi tổng đài
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a class="" [routerLink]="['/more/request-support']"
                       [queryParams]="{type: 'flight', code: flight.code}">
                      <img class="size-24x24 m-t-n-3" cdn-src="assets/images/icon/icon-mail-green.svg" alt="icon"/>
                      Gửi yêu cầu hỗ trợ
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- hướng dẫn thanh toán -->
        <div class="m-t-20">
          <div class="panel">
            <div class="panel-body p-10">
              <a class="d-flex justify-content-center font-medium"
                 [routerLink]="['/my-booking/flight', flight.code, 'payment-guide']">
                <span class="mr-auto">Hướng dẫn thanh toán tại Xtrip</span>
                <img class="size-24x24" cdn-src="assets/images/icon/icon-angle-right-green.svg" alt="icon"/>
              </a>
            </div>
          </div>
        </div>

        <div class="m-t-20"
             *ngIf="utilityHelper.findNotInList(flight.status, [STATUS.PAID, STATUS.CANCEL, STATUS.WAITING])">
          <a class="btn btn-main-v2 btn-block p-10"
             [routerLink]="['/payment']"
             [queryParams]="{reservationCode: flight.code, module: 'flight'}">
            <span class="text-white font-18">Đổi thanh toán</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
