@import "_variables.less";
@import "_mixins.less";

.booking-flight-detail {
  &.booking-flight-detail-mobile {

    background-color: @gray-41;
    color: @gray-2;

    .title {
      font-size: 15px;
      margin: 16px 0 0 0;
      padding: 9px 0;
      color: @black;
      font-weight: @font-medium;
    }

    .countdown {
      font-size: 20px;
      color: @green-2;
      font-weight: 600;
      margin: 0px;
    }

    .panel {
      .border-radius(10px);
      .box-shadow(0, 1px, 8px, rgba(0, 0, 0, .2));
      border-width: 0;
      margin: 0;

      .panel-body {
        padding: 5px 15px;

        .btn-gray-outline {
          font-size: 16px;
          font-weight: @font-bold;
          background-color: @gray-17;
          .box-shadow(0, 0, 3px, rgba(0, 0, 0, .2));
          line-height: 1.2;
          padding: 7px 10px;
          border-width: 0;
        }
      }
    }

    .flight-countdown {
      .sub-label {
        font-size: 12px;
        font-weight: @font-normal;
        font-style: italic;
        color: @gray-9;
        line-height: 1;
      }
    }

    .flight-price-detail {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid @gray-8;
      line-height: 2;
      color: @black;

      .title {
        padding: 0;
        font-size: 15px;
        color: @green-2;
        font-weight: @font-bold;
      }
    }

    .flight-support {

      .flight-code {
        .border-radius(5px);
        background-color: @gray-13;
        padding: 3px 10px;
        color: @green-2;
        font-weight: @font-bold;
      }

      ul.list-group {
        > .list-group-item {
          padding: 10px 0px;
          font-weight: @font-medium;

          &:first-child {
            border-width: 0px;
          }

        }
      }
    }
  }
}