<div bsModal
     #popup="bs-modal"
     class="modal fade transfer-popup "
     role="dialog"
     (onHidden)="hide()">
  <div class="modal-dialog fullscreen"
       *ngIf="!!payment && !!payment.code">
    <div class="modal-content bg-white">
      <div class="modal-header header">
        <div class="row">
          <div class="col-2">
            <a class="d-block" (click)="hide()">
              <img class="size-16x16" cdn-src="assets/images/icon/icon-close-green.svg">
            </a>
          </div>
          <div class="col-8 title-heading text-center font-20 font-black">Chọn ngân hàng</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-wrapper">
          <div class="row">
            <div class="col-12">
              <payment-note [time]="payment.holdExpiry"></payment-note>
            </div>
            <div class="col-12 m-t-10">
              <ul class="payment-transfer">
                <li *ngFor="let option of payment.options; trackBy: trackByFn; let i = index">
                  <a class="pointer d-flex justify-content-center align-content-center"
                     [class.active]="bank.code === option.code"
                     (click)="selectBank(option)"
                     [title]="option.name">
                    <img class="m-b-none" [src]="option.photo" [alt]="option.name"/>
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-12 m-t-20" *ngIf="!!bank.code">
              <div class="option-detail">
                <div class="title">Theo số tài khoản</div>
                <div class="panel panel-desktop">
                  <div class="panel-body">
                    <ul>
                      <li>
                        <div class="label">Số tài khoản</div>
                        <div class="info">
                          {{ bankDetail.accountNo }}
                          <a class="pointer"
                             ngxClipboard
                             [cbContent]="bankDetail.accountNo"
                             (cbOnSuccess)="onClipboardSuccess('Đã sao lưu số tài khoản thành công.')">
                            <img class="m-b-none m-t-n-3"
                                 cdn-src="assets/images/icon/icon-copy-orange.svg" alt="icon"/>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="label">Tên tài khoản</div>
                        <div class="info">
                          {{ bankDetail.accountName }}
                          <a class="pointer"
                             ngxClipboard
                             [cbContent]="bankDetail.accountName"
                             (cbOnSuccess)="onClipboardSuccess('Đã sao lưu tên tài khoản thành công.')">
                            <img class="m-b-none m-t-n-3"
                                 cdn-src="assets/images/icon/icon-copy-orange.svg" alt="icon"/>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="label">Chi nhánh:</div>
                        <div class="info">{{ bankDetail.branch }}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="m-t-20" *ngIf="!!bankDetail.cardNo">
                <div class="title">Theo số thẻ</div>
                <div class="panel panel-desktop">
                  <div class="panel-body">
                    <ul>
                      <li>
                        <div class="label">16 số thẻ:</div>
                        <div class="info">
                          {{ bankDetail.cardNo }}
                          <a class="pointer"
                             ngxClipboard
                             [cbContent]="bankDetail.cardNo"
                             (cbOnSuccess)="onClipboardSuccess('Đã sao lưu số thẻ thành công.')">
                            <img class="m-b-none m-t-n-3"
                                 cdn-src="assets/images/icon/icon-copy-orange.svg" alt="icon"/>
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="m-t-20">
                <div class="title">Nội dung thanh toán</div>
                <div class="panel panel-desktop">
                  <div class="panel-body">
                    <ul>
                      <li>
                        <div class="label">Nội dung:</div>
                        <div class="info">
                          {{ bankDetail.description }}
                          <a class="pointer"
                             ngxClipboard
                             [cbContent]="bankDetail.description"
                             (cbOnSuccess)="onClipboardSuccess('Đã sao lưu nội dung thành công.')">
                            <img class="m-b-none m-t-n-3"
                                 cdn-src="assets/images/icon/icon-copy-orange.svg" alt="icon"/>
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="label">Tổng tiền:</div>
                        <div class="info">
                          {{ bankDetail.orderTotal | currencyMoney:''}} <span class="text-underline">đ</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-main-v2 btn-block p-10"
                (click)="onPayment()"
                [disabled]="!bank.code">Xác thực chuyển khoản
        </button>
      </div>
    </div>
  </div>
</div>
