@import "_variables.less";

.popup-promotion {

  .form {
    .mat-form-field {
      .mat-form-field-wrapper {

        .mat-form-field-infix {
          color: @gray-9;

          .mat-input-element {
            color: @black;
          }
        }

        .mat-form-field-underline {
          background-color: @gray-10;
        }
      }
      .error {
        color: @red-2 !important;
      }
    }
  }
  .title {
    color: @gray-2;
  }
}
