@import "./../../../../less/_variables.less";

.hotel-preview {

  margin-bottom: 120px;

  .title {
    padding: 8px 15px;
    font-size: 13px;
    color: @gray-5;
  }

  .content {
    padding: 15px;
    background-color: @white;
    color: @black;
    font-size: 15px;

    .line {
      margin: 8px 0;
      border-top: 1px solid @gray-18;
    }

    img {
      margin-bottom: 0;
      margin-top: -3px;
    }
  }

  .hotel, .passenger {
    .content {
      color: @gray-1;
    }
  }

  .e-bill, .price {
    .content {

    }
  }

  .border-right {
    border-right: 1px solid @gray-18;
  }

  .hotel-preview-footer {
    padding: 5px;
    padding-top: 8px;
    background-color: @gray-6;
    padding-top: 10px;

  }
}