@import "_variables.less";
@import "_mixins.less";

.flight-ticket-information {

  color: @gray-2;

  .panel {
    .border-radius(10px);
    .box-shadow(0, 1px, 8px, rgba(0, 0, 0, .2));
  }

  .flight-ticket-location {
    font-size: 16px;
    font-weight: 700;
  }

  .flight-ticket-time {
    font-size: 14px;
  }
}