@import "_variables.less";

.identity {
  background-color: @white;

  .identity-heading {
    font-size: 15px;
    color: @black;
    padding: 8px 15px;
    display: block;

    img {
      margin-bottom: 0;
      margin-top: -3px;
    }
  }
}