@import "_variables.less";

.hotel-facilities-desktop, .hotel-detail-policy {
  .gray-text {
    color: @gray-2;
  }
  .bo-r {
    border-right: 1px solid @gray-3;
  }
  .title {
    color: @gray-23
  }
  .list-li {
    list-style-image: url('../../../../../../assets/images/hotel/desktop/li-gray.svg');
    list-style-position: inside;
  }
  .column-3 {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 2;
  }
  .custom-shadow {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2)
  }
}